body {
  background-image: url(/images/horrorback.jpg);
  background-repeat: no-repeat;
} 
header {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 100px auto auto;
}
header img {
  width: 700px;
}
section {
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-rows: auto auto auto;
}
.btn {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-self: center;
    width: 400px;
}
.blood {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    display: flex;
    justify-self: center;
    margin-top: -90px;
    max-height: 670px;
    width: 500px;
}
.doll {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: -61px;
    margin-left: -38px;
    height: 250px;
}
.btn:hover {
  cursor: pointer;
  width: 403px;
}
