@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");

body {
  background-image: url(/images/background\ _gamepage.jpg);
  background-size: cover;
  font-family: 'Yatra One';
  font-weight: 200;
  color: white;
  width: 90%;
  max-width: 1900px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    'logo' 'logo' 'logo'
    'aside' 'knife' 'knife'
  ;
  text-shadow: 2px 2px red;
}

/* div {
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 35% auto;
} */

header {
  /* grid-column: 2 / 3;
  grid-row: 1 / 2; */

  display: flex;

  align-content: center;
  margin: 50px auto auto;
  grid-area: logo;
}

header img {
  width: 50vw;
}

main {
  display: inline-flex;
  /* gap: 50px; */
  /* justify-content: space-between; */
  /* grid-column: 1 / 4;
  grid-row: 2 / 3; */
}

li {
  font-size: 2em;
  list-style-image: url(/images/skull2\ \(1\).png);
  text-indent: 0.3em;

}

aside {
  width: 40%;
  grid-area: aside;
}

input {
  background-color: rgb(148, 20, 20);
  border: transparent;
  border-radius: 1em;
  width: 70%;
  height: 12%;
  padding: px;
  text-align: center;
  font-weight: bolder;
  margin-right: 1em;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  font-family: 'Yatra One';
  



}

button {
  border-radius: 50%;
  background-color: rgb(148, 20, 20);
  border: 0;
  width: 5%;
  height: 13%;
  font-size: 1em;
  color: rgb(255, 255, 255);
  margin-right: 0.8em;
  font-weight: bold;
  letter-spacing: -1px;
  grid-area: btn;
}

main img {
  height: 20vw;
  grid-area: knife;
  margin: 0 auto;
  margin-left: -10%;
}

/*
main {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
main img {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100px;
} */

@media (max-width: 400px) {
  body {
    display: grid;
    grid-template-areas:
      'logo' 'logo' 'logo'
      'aside' 'btn' 'btn'
      'aside' 'knife' 'knife'
  }

  header img {
    width: 80%;
    height: auto;
    
    margin-bottom: 0;
    
  }

  input {
    margin-top: 30%;
    width: 100%;
    height: 12%;
    font-size: 1.2em;
  }

  aside {
    width: 50vw
  }

  button {
    width: 2em;
    height: 2em;
    margin-top: 0.5em;
    margin-left: 20%;
  }

  main img {
    height: 35vw;
    margin-top: 30%;
    margin-left: -10%;
  }
body { background-color: blue;}
}

  @media (min-width: 400px) {

  input {
    margin-top: 10%;
    width: 40%;
    margin: 0;
  }
  header img { margin-top: 0;}
  aside {
    width: 50vw;
  }

  button {
    margin: 0;
  }

} 

/* @media (max-width: 1200px) {
  input {
    margin: 0
  }
  ;
  aside {
    width: 80%;
  }
  button {
    margin: 0;
  }
}  */