@media (max-width: 400px) {
    header img {
        width: 65vw;

        margin-top: 5%;
    }

    /* header {display: flex;
        justify-content: center;
        text-align: center;
        width: 100vw;} */

    body {width:100vw;
        background-image: url(/images/horrorback.jpg);
        background-size: cover;
    }

    section img:nth-of-type(1) {
        width: ;
    }

    section img:nth-of-type(2) {
        width: 40vw;
    }

    section img:nth-of-type(3) {
        width: 15vw;
    }
}

@media (max-width: 400px) and (orientation : portrait){


}